<div>
	{{keyboard-tone}}
	Played: 
	<textarea id="tone-played" cols="100" rows="5"></textarea>
	<textarea id="user-tones"></textarea>
	<button id="button-play" onclick={{action 'playUserTones'}}>Play</button>
</div>